body {
  background-color: #162127;
}

p {
  color: #fff;
}

img {
  cursor: pointer;
}

.div-cats {
  display: flex;
}

.div-img {
  display: flex;
  justify-content: center;
  height: 600px;
  margin: 0 30px;
}

.div-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.name-cat {
  font-size: 30px;
}

.counter {
  font-size: 20px;
}