body {
  background-color: #162127;
}

p, h2 {
  color: #fff;
}

img {
  cursor: pointer;
  width: 350px;
}

.counter {
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

#all-cats {
  display: flex;
  flex-direction: column;
}

.name-all-cats {
  font-size: 25px;
  cursor: pointer;
}

.selected-cat {
  display: flex;
  flex-direction: column;
}
